.App {
  text-align: center;
  font-family: 'Indie Flower', cursive;
  color: deepskyblue;
}

.App-header{
  display: flex;
  justify-content: space-around;
  border-bottom: 2px solid black;
}

h1{
  font-size: 55px;
}

.navigation{
  font-size: 28px;
  margin-top: 5px;
  display: flex;
  flex-flow: column;
  align-items: center;
}
